* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
header {
    display: flex;
    border: 1px solid seashell;
    height: 69px;
    width: 100%;
}
.logo {
    height: 50px;
    width: 150px;
    padding: 0px 10px 0px;
}

li {
    display: inline;
    text-decoration: underline;
    padding: 0px 5px;
}

.mission {
    background-image: url("./img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    display: inline-flex;
    position: relative;
}

.mission div {
    background-color: black;
    align-items: center;
    height: 100px;
    width: 100%;
    line-height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mission h2 {
    font-size: 25px;
}

.monthly h2, .monthly h4 {
    width: 1000px;
    display: inline-flex;
}

.monthly h4 {
    font-size: 15px;
}

.monthly img {
    width: 300px;
    height: 200px;
    display: block;
    padding: 0px 25px;
}

figcaption {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
    position: absolute;
}

.locations {
    background-image: url("./img-locations-background.jpg");
    width: 100%;
    height: 500px;
    display: inline-flex;
}

.locations h2 {
    background-color: transparent;
    position: relative;
}

.locations div {
    width: 300px;
    opacity: 1;
    margin: 20px;
}

div p {
    font-size: 20px;
    line-height: 50px;
    padding: 10px;
}